

.top-wrapper{
  padding: 150px 0 200px 0;
  background-image: url(ebudy-top.png);
  background-size: cover;
  color: white;
  text-align: center;
  height: 580px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.top-wrapper h1{
  opacity: 1;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 50;
  padding: 30px 39px;
}

.container{
  width: 1170px;
  padding: 40px 20px;
  margin: 0 auto;
}



.E-btn{
  display: inline-block;
  width: 235px;
  text-align: center;
  font-size: 26px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 26px;
  border-radius: 25px;
  background-image: linear-gradient(to right,  #9999FF, #bf4fce);
  transition: .5s;
  background-size: 200%;
}

.E-btn:hover{
  background-position: right center;
}

.container p{
  padding-bottom: 55px;
}

.under-wrapper{
 margin:0 auto;
}

.serihu{
  font-size:20px;
  font-weight:bold;
  padding-top:23px;
  font-style:oblique;
  display:inline-block;
}


.by{
  font-size:11px;
  text-align: right;
}

 
/* ダイアログ用のCSS↓ */
.MuiDialog-paperWidthSm {
  width: 350px;
  height: 400px;
  background-color:#BA55D3;
}

.MuiPaper-root {
  color: rgba(0, 0, 0, 0.87);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color:#BA55D3;
}

.LoginButton{
  display: inline-block;
  margin-left: 860px;
  padding-top: 15px;
}

.sign-up{
  margin-left:30px;
  padding-top:15px;
}

